* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.bg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
}
.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .content {
    width: 80%;
  }
}
.heading {
  font-family: "Bree Serif";
  font-size: 30px;
  color: white;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 40px;
  }
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
  }
}

.button1 {
  background-color: #eab308;
  color: white;
  border-width: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.button2 {
  background-color: white;
  color: #323f4b;
  border-width: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.button3 {
  background-color: #1d4ed8;
  color: white;
  border-width: 0px;
  border-radius: 10px;
  padding: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}
